# Pandas Web Scraping

In [1]:
import pandas as pd

In [2]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_Billboard_Hot_100_top-ten_singles_in_2022')

In [3]:
df = dfs[0]

In [4]:
df.columns = ['entry_date', 'single', 'artist',
              'peak','peak_date','weeks_top_top',
              'ref']

In [5]:
df.head()

,entry_date,single,artist,peak,peak_date,weeks_top_top,ref
0,October 2,"""Thats What I Want""[E][G][H] ↑",Lil Nas X,8,April 2,9,[2][3]
1,October 23,"""Shivers""[B] (#5)",Ed Sheeran,4,January 15,19,[4][5]
2,November 13,"""Heat Waves""[B][I] † (#1)",Glass Animals,1,March 12,37,[6][7]
3,Singles from 2022,Singles from 2022,Singles from 2022,Singles from 2022,Singles from 2022,Singles from 2022,Singles from 2022
4,January 15,"""We Don't Talk About Bruno""","Carolina Gaitán, Mauro Castillo, Adassa, Rhenz...",1,February 5,13,[5][8]

## Doing the same thing with BeautifulSoup4

In [6]:
from bs4 import BeautifulSoup
import requests

In [7]:
response = requests.get('https://en.wikipedia.org/wiki/List_of_Billboard_Hot_100_top-ten_singles_in_2022')

In [8]:
response.status_code

200

In [9]:
soup = BeautifulSoup(response.content)

In [10]:
pd.read_html(str(soup.find('table')))[0]

/var/folders/7p/ncgl3njd46l8cg9k7s7_hs2m0000gn/T/ipykernel_14604/3332332110.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_html(str(soup.find('table')))[0]

,Top ten entry date,Single,Artist(s),Peak,Peak date,Weeks in top ten,Ref.
,Singles from 2021,Singles from 2021,Singles from 2021,Singles from 2021,Singles from 2021,Singles from 2021,Singles from 2021
0,October 2,"""Thats What I Want""[E][G][H] ↑",Lil Nas X,8,April 2,9,[2][3]
1,October 23,"""Shivers""[B] (#5)",Ed Sheeran,4,January 15,19,[4][5]
2,November 13,"""Heat Waves""[B][I] † (#1)",Glass Animals,1,March 12,37,[6][7]
3,Singles from 2022,Singles from 2022,Singles from 2022,Singles from 2022,Singles from 2022,Singles from 2022,Singles from 2022
4,January 15,"""We Don't Talk About Bruno""","Carolina Gaitán, Mauro Castillo, Adassa, Rhenz...",1,February 5,13,[5][8]
...,...,...,...,...,...,...,...
71,November 19,"""Privileged Rappers"" ↑",Drake and 21 Savage,7,November 19,1,[44]
72,November 19,"""Circo Loco"" ↑",Drake and 21 Savage,8,November 19,1,[44]
73,November 19,"""BackOutsideBoyz"" ↑",Drake,9,November 19,1,[44]
74,December 17,"""Superhero (Heroes & Villains)"" ↑","Metro Boomin, Future and Chris Brown",8,December 17,1,[45]
75,December 24,"""Nobody Gets Me"" ↑",SZA,10,December 24,1,[46]