# Introduction to Web Scraping in Python

Web scraping is the process of collecting and parsing raw data from the Web, and the Python community has come up with some pretty powerful web scraping tools.
Many disciplines, such as data science, business intelligence, and investigative reporting, can benefit enormously from collecting and analyzing data from websites.

## Scrape and Parse texts from Websites
Collecting data from websites using an automated process is known as web scraping. Some websites explicitly forbid users from scraping their data with automated tools.

**Websites have two main reasons to not allow web scraping**
1. To protect its data. For example: Google maps do not allow users to request too many results in a minute.
2. To prevent overuse of their servers. When bots start sending many requests website's servers slow down and thus other users will have slower connection to the website.

One useful package for web scraping that you can find in Python’s standard library is [urllib](https://docs.python.org/3/library/urllib.html), which contains tools for working with URLs.
**urllib** is for opening and reading URLs.

#### Let's look at the example and use **urllib**

In [1]:
from urllib.request import urlopen
url = "http://olympus.realpython.org/profiles/aphrodite"
page = urlopen(url)

To extract the HTML from the page:
1. Use html's read method to return sequence of bytes
2. Use decode method on 1st result to decode bytes to strings

In [2]:
page

In [3]:
html_by = page.read()

In [8]:
html_by

b'<html>\n<head>\n<title>Profile: Aphrodite</title>\n</head>\n<body bgcolor="yellow">\n<center>\n<br><br>\n<img src="/static/aphrodite.gif" />\n<h2>Name: Aphrodite</h2>\n<br><br>\nFavorite animal: Dove\n<br><br>\nFavorite color: Red\n<br><br>\nHometown: Mount Olympus\n</center>\n</body>\n</html>\n'

In [10]:
html = html_by.decode("utf-8")
print(html)

<html>
<head>
<title>Profile: Aphrodite</title>
</head>
<body bgcolor="yellow">
<center>
<br><br>
<img src="/static/aphrodite.gif" />
<h2>Name: Aphrodite</h2>
<br><br>
Favorite animal: Dove
<br><br>
Favorite color: Red
<br><br>
Hometown: Mount Olympus
</center>
</body>
</html>

#### Let's try to get the title of the webpage
1. We need to get the index of the **\<title>**, and because title tags strings have been counted we need to add it to the index. 
2. Find the index of the closing **\<title>** tag
3. Get the title by slicing the html

In [11]:
len("<html>\n<head>\n")

14

In [8]:
html

'<html>\n<head>\n<title>Profile: Aphrodite</title>\n</head>\n<body bgcolor="yellow">\n<center>\n<br><br>\n<img src="/static/aphrodite.gif" />\n<h2>Name: Aphrodite</h2>\n<br><br>\nFavorite animal: Dove\n<br><br>\nFavorite color: Red\n<br><br>\nHometown: Mount Olympus\n</center>\n</body>\n</html>\n'

In [12]:
html.find("<title>")

14

In [13]:
html[14:21]

'<title>'

In [14]:
len("<title>")

7

In [15]:
title_index = html.find("<title>")
start_index = title_index + len("<title>")

In [16]:
start_index

21

In [17]:
print(start_index)
print(title_index)

21
14

In [18]:
end_index = html.find("</title>")
print(end_index)

39

In [19]:
title = html[start_index:end_index]
print(title)

Profile: Aphrodite

#### It is a lot of work just to get the title of the page. In the real world, websites are much more complex and complicated. We can use find many dedicated tools for html scraping but the most powerful and popular library for Python is [**Beautiful soup**](https://www.crummy.com/software/BeautifulSoup/)

Beautiful Soup is a Python library designed for quick turnaround projects like screen-scraping.

**Run the command below to install**:
```bash
conda install beautifulsoup4
pip install beautifulsoup4
```

In [20]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /Users/amarbayanaltangerel/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /Users/amarbayanaltangerel/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from beautifulsoup4) (2.5)

In [22]:
from bs4 import BeautifulSoup
from urllib.request import urlopen

url = "http://olympus.realpython.org/profiles/aphrodite"
page = urlopen(url)
html = page.read().decode("utf-8")
soup = BeautifulSoup(html, "html.parser")

In [25]:
soup

<html>
<head>
<title>Profile: Aphrodite</title>
</head>
<body bgcolor="yellow">
<center>
<br/><br/>
<img src="/static/aphrodite.gif"/>
<h2>Name: Aphrodite</h2>
<br/><br/>
Favorite animal: Dove
<br/><br/>
Favorite color: Red
<br/><br/>
Hometown: Mount Olympus
</center>
</body>
</html>

In [29]:
soup.find("h2").text

'Name: Aphrodite'

In [30]:
for x in soup.find_all("h2"):
    print(x.text)

Name: Aphrodite

#### Example above does three things
1. Opens up a page using **urlopen** from **urllib.request**
2. Reads and decodes the page and saves as a variable
3. Creates a BeautifulSoup object and assigns it to the soup variable

BeautifulSoup objects have a **.get_text()** method that can be used to extract all the text from the document and automatically remove any HTML tags

In [31]:
print(soup.get_text())

Profile: Aphrodite





Name: Aphrodite

Favorite animal: Dove

Favorite color: Red

Hometown: Mount Olympus

To get the title of the page, you can use **.title**, and **.string** to get the text

In [32]:
soup.title.text

'Profile: Aphrodite'

In [35]:
print(soup.title)
print(soup.title.string)

<title>Profile: Aphrodite</title>
Profile: Aphrodite

You can use **find()** to find the tags you want and get the source attributes.

In [36]:
image = soup.find("img")

In [37]:
image

In [38]:
image['src']

'/static/aphrodite.gif'

![ANY TEXT](http://olympus.realpython.org/static/aphrodite.gif)

#### Exercise your web scraping on Unegui.mn
1. Go to https://www.unegui.mn/avto-mashin/-avtomashin-zarna/, Use inspection tool on your browser to see the html tags and attributes.
2. Scrape all the listing's **title** and **price**. Scrape only the first page!
3. Save your listings as a pandas DataFrame
Example below illustrates the final result

In [39]:
import pandas as pd
titles = ['Toyota FJ Cruiser, 2012/2020', 'Honda Crossroad, 2009/2019']
prices = ['62 сая', '17 сая']
results = pd.DataFrame([titles, prices], columns=['titles', 'prices'])

In [40]:
results

                         titles                      prices
0  Toyota FJ Cruiser, 2012/2020  Honda Crossroad, 2009/2019
1                        62 сая                      17 сая

In [ ]:
announcement-block__price _verified

In [41]:
!pip install requests

Requirement already satisfied: requests in /Users/amarbayanaltangerel/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (2.32.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/amarbayanaltangerel/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/amarbayanaltangerel/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/amarbayanaltangerel/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from requests) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/amarbayanaltangerel/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from requests) (2024.2.2)

In [42]:
import requests
from bs4 import BeautifulSoup

In [43]:
response = requests.get('https://www.unegui.mn/avto-mashin/-avtomashin-zarna/')

In [44]:
soup = BeautifulSoup(response.content)

In [55]:
prices = soup.find_all("a", {"class": "advert__content-price _not-title"})

In [56]:
titles = soup.find_all("a", {"class": "advert__content-title"})

In [87]:
titles[5].text.strip()

'Toyota Crown, 2016/2024'

In [97]:
prices[5]

<a class="advert__content-price _not-title" href="/adv/8743665_toyota-crown-2016-2024/">
<span>50 сая <b>₮</b></span>
</a>

In [76]:
list_titles = []
list_prices = []
for title in titles:
    list_titles.append(title.text.strip())
for price in prices:
    list_prices.append(price.span.text)

In [82]:
df = pd.DataFrame(data={"title": list_titles, "price": list_prices})

                                       title                price
0                        Lexus RX, 2018/2024  115 сая ₮ 145 сая ₮
1                     Toyota Raum, 2009/2019            7.2 сая ₮
2                    Toyota Passo, 2009/2019  3.8 сая ₮ 4.2 сая ₮
3                  Toyota Alphard, 2007/2024           30.5 сая ₮
4                    Toyota Camry, 2014/2023             32 сая ₮
5                    Toyota Crown, 2016/2024             50 сая ₮
6                    Toyota Crown, 2019/2024             71 сая ₮
7                  Toyota Harrier, 2007/2022           35.5 сая ₮
8                     Toyota Axio, 2013/2018             15 сая ₮
9           Mercedes-Benz E-Class, 2016/2023            110 сая ₮
10  Toyota Land cruiser Prado 150, 2023/2024            150 сая ₮
11          Mercedes-Benz E-Class, 2015/2023             75 сая ₮
12          Mercedes-Benz S-Class, 2018/2024  265 сая ₮ 300 сая ₮
13          Mercedes-Benz S-Class, 2018/2024  265 сая ₮ 290 сая ₮
14                     Toyota Sai, 2011/2024           26.5 сая ₮
15                    Nissan Juke, 2011/2021             15 сая ₮
16              Volkswagen Tiguan, 2016/2024             45 сая ₮
17          Mercedes-Benz E-Class, 2013/2023             45 сая ₮
18                  Jeep Wrangler, 2019/2024  125 сая ₮ 140 сая ₮
19                   Toyota Crown, 2006/2022           47.5 сая ₮
20                      BMW Бусад, 2015/2023             45 сая ₮
21                     Jeep Бусад, 2019/2024    73 сая ₮ 78 сая ₮
22                     Jeep Бусад, 2016/2024    60 сая ₮ 65 сая ₮
23                     Jeep Бусад, 2018/2024    60 сая ₮ 65 сая ₮
24                   Toyota Camry, 2017/2024             55 сая ₮
25                        Audi A6, 2016/2024             68 сая ₮
26                    Toyota Aqua, 2015/2024           19.8 сая ₮
27           Land Rover Discovery, 2016/2022             87 сая ₮
28                Toyota Vellfire, 2011/2024             53 сая ₮
29        Toyota Land Cruiser 200, 2012/2013             88 сая ₮
30                  Changan Бусад, 2024/2024             70 сая ₮
31                       Lexus RX, 2018/2024            119 сая ₮
32                Subaru Forester, 2015/2024           34.5 сая ₮
33                       Lexus HS, 2009/2024           34.5 сая ₮
34        Toyota Land Cruiser 200, 2003/2013             85 сая ₮
35                       Lexus CT, 2011/2018           20.5 сая ₮
36                 Toyota Harrier, 2014/2024             63 сая ₮
37            Subaru XV Crosstrek, 2021/2024           49.8 сая ₮
38                 Kia Cadenza/K7, 2017/2024             40 сая ₮
39                Chevrolet Бусад, 2014/2023             13 сая ₮
40                       Lexus GX, 2004/2012             72 сая ₮
41                 Subaru Outback, 2016/2024             34 сая ₮
42                 Hyundai Starex, 2019/2024             78 сая ₮
43                   Toyota Camry, 2018/2024    72 сая ₮ 78 сая ₮
44                   Toyota Camry, 2016/2024             55 сая ₮
45                       Lexus LX, 2016/2024            212 сая ₮
46                    Nissan Cube, 2012/2024             16 сая ₮
47                Toyota Prius 30, 2013/2023           24.5 сая ₮
48            Toyota Crown Kluger, 2022/2024            145 сая ₮
49                 Toyota Harrier, 2015/2024             63 сая ₮
50        Toyota Land Cruiser 300, 2022/2023            314 сая ₮
51                Toyota Prius 20, 2006/2022             17 сая ₮
52                Subaru Forester, 2020/2024             57 сая ₮
53                 Toyota Harrier, 2014/2024             65 сая ₮
54                   Toyota Hilux, 2005/2024           64.5 сая ₮
55                 Toyota Harrier, 2014/2023           48.5 сая ₮
56                Toyota Prius 20, 2008/2019             14 сая ₮
57                   Toyota Crown, 2018/2024             72 сая ₮
58                Toyota Prius 41, 2013/2020             26 сая ₮
59                Subaru Forester, 2010/2019  17.5 сая ₮ 19 сая ₮

In [75]:
a_tags = soup.find_all("a", {"class": "announcement-block__title"})

In [82]:
links = []
for a_tag in a_tags:
    actual_link = "https://www.unegui.mn" + a_tag['href']
    links.append(actual_link)

In [90]:
df = pd.DataFrame(columns=['title','price'])

for url in links[0:10]:
    response = requests.get(url)
    soup = BeautifulSoup(response.content)
    # title = soup.find("h1", {"class": "title-announcement"}).text
    title = soup.find("meta", {"itemprop":"title"})['content']
    # price = soup.find("div", {"class": "announcement-price__cost"}).text
    price = soup.find("meta", {"itemprop":"price"})['content']
    
    # df = df.append({'title':title,'price':price}, ignore_index=True)
    df = pd.concat([df, pd.DataFrame([{"title": title, "price": price}])], ignore_index=True)
    
    # results = soup.find_all("div", {"class": "announcement-block__price _verified"})
    # for item in results:
    #     title = item.find("meta", {"itemprop":"name"})['content']
    #     price = item.find("meta", {"itemprop":"price"})['content']
    #     df = df.append({'title':title,'price':price}, ignore_index=True)

TypeError: 'NoneType' object is not subscriptable

In [89]:
df['title']

'\n                          \n                            Dell inspirion 15 3511 / 11th i5 8gb 256gb ssd /\n                          \n                        '

In [30]:
results[0].find_all("meta", {"itemprop":"price"})

'890000.00'

1. Get a list of URLs to scrape
2. Loop through the URLs
3. Inside that loop, loop through the listings (65 per page)
4. Grab the data you need (title and price for 65 listings)
5. Append it to a dataframe
6. Go the next page