### Step 1: Create a package named `dataframe_cleaner`

### Step 2: Read the sample csv file
* You need to read the `sample_employees.csv` file as a DataFrame and test your functions

### Step 3: Create separate functions in `__init__.py`
1. import pandas
2. `drop_empty` takes pandas dataframe as an input and drops any row with empty value. Use pandas' `dropna`.
    * Use sample `DataFrame` to test
3. `fill_empty` takes pandas dataframe and column name as inputs and fills the given column's empty values using mean. Use pandas' `fillna`.
    * Use sample `DataFrame` to test
4. `drop_column` takes pandas dataframe and column name as inputs and drops the given column and returns the rest of the dataframe. Use pandas' `drop`.
    * Use sample `DataFrame` to test
5. `fix_index` takes pandas dataframe as an input and resets its index and returns it. Use pandas' `reset_index` and drop the old index column.
    * Use sample `DataFrame` to test
6. `fix_dates` takes pandas dataframe and column name as input. Changes given column's data type into datetime. Use pandas' `to_datetime` function.
    * Use sample `DataFrame` to test

In [16]:
from dataframe_cleaner import *
import pandas as pd

In [17]:
df = pd.read_csv('sample_employees.csv')

In [18]:
print("Drop the empty value of the data:", dataframe_cleaner.drop_empty(df))

Drop the empty value of the data:     first_name    last_name                            email  gender  \
2       August       Nelmes                 anelmes2@bbb.org    Male
6    Whittaker        Cluet            wcluet6@angelfire.com    Male
8     Timothee       McVane          tmcvane8@opensource.org    Male
11       Shell  Zecchinelli  szecchinellib@blogtalkradio.com    Male
12        Dill      Iglesia                   diglesiac@g.co    Male
..         ...          ...                              ...     ...
990   Theobald       Hatley            thatleyri@state.tx.us    Male
992     Franky       McDell          fmcdellrk@pinterest.com  Female
993    Maurine      Greeson            mgreesonrl@census.gov  Female
996     Cristy     Nortunen         cnortunenro@freewebs.com  Female
999   Catriona        Rapps                  crappsrr@nhs.uk  Female

    employed_date                department    salary  bonus
2        9/7/2014                Accounting  161814.0   14.0
6       4/13/2018                  Services  114440.0   11.0
8        9/5/2013                   Support  117430.0    8.0
11      2/27/2016        Product Management  154034.0   13.0
12      2/19/2018                   Support   64334.0    4.0
..            ...                       ...       ...    ...
990      5/9/2016           Human Resources  175423.0   12.0
992     4/24/2017      Business Development   85666.0   12.0
993     8/15/2018  Research and Development   95521.0    7.0
996     1/28/2016               Engineering  120389.0    2.0
999     3/27/2013                 Marketing   93899.0    3.0

[464 rows x 8 columns]

In [19]:
print("Fill the empty value of the data:", dataframe_cleaner.fill_empty(df))

TypeError: fill_empty() missing 1 required positional argument: 'column_name'

In [20]:
print("Drop the empty column of the data:", dataframe_cleaner.drop_column(df))

ValueError: Need to specify at least one of 'labels', 'index' or 'columns'

In [21]:
import pandas as pd

def drop_empty(df: pd.DataFrame) -> pd.DataFrame:
    return df.dropna()

# def fill_empty(df, col:
#     return df.fillna(df[col].mean())
    
def drop_column(df, col):
    return df.drop(colums=[col])

def fix_index(df):
    return df.reset_index(drop= True)

def fix_dates(df, col):
    return pd.to_datetime(df, col)

In [28]:
drop_empty(df).head(5)

,first_name,last_name,email,gender,employed_date,department,salary,bonus
2,August,Nelmes,anelmes2@bbb.org,Male,9/7/2014,Accounting,161814.0,14.0
6,Whittaker,Cluet,wcluet6@angelfire.com,Male,4/13/2018,Services,114440.0,11.0
8,Timothee,McVane,tmcvane8@opensource.org,Male,9/5/2013,Support,117430.0,8.0
11,Shell,Zecchinelli,szecchinellib@blogtalkradio.com,Male,2/27/2016,Product Management,154034.0,13.0
12,Dill,Iglesia,diglesiac@g.co,Male,2/19/2018,Support,64334.0,4.0

In [29]:
drop_column(df, 'email')

TypeError: drop() got an unexpected keyword argument 'colums'