# Arguments and Decorators

There are a few concepts for functions in Python that will help you move up to the next level in Python programming. These are **argument** and **decorators**. You already know what arguments are, but but building your functions with the correct mix of argument types will make your function even better. And even though you may not know what a decorator is, it is sure to blow you away with it's abilities.

Table of Contents:
- [Arguments](#arguments)
    - [Positional vs Keyword Arguments](#positional_keyword)
    - [Default Arguments](#default_arguments)
    - [Arbitrary Arguments](#arbitrary_arguments)
- [Decorators](#decorators)

## Arguments <a class="anchor" id="arguments"></a>

When starting out writing functions you may simply create positional arguments like so.

In [1]:
def foo(a, b):
    # Don't do anything.
    return a, b

### Positonal vs Keyword Arguments <a class="anchor" id="positional_keyword"></a>

Normally this means that you much pass `a` first and `b` second right? Well it turns out that you have another option, called **keyword argument**. Let's see what that looks like.

In [2]:
# 2 positional arguments
foo(1, 3)

(1, 3)

In [3]:
# 2 keyword arguments
foo(a=1, b=3)

(1, 3)

In [4]:
# 2 keyword arguments that are out of order
foo(b=3, a=1)

(1, 3)

In [5]:
# 1 positional argument, 1 keyword argument
foo(1, b=3)

(1, 3)

In [6]:
# Keyword arguments should always follow positional arguments
foo(b=3, 1)

SyntaxError: positional argument follows keyword argument (2633047507.py, line 2)

In [7]:
# Mixing positional and keyword arguments can cause issues also.
foo(3, b=1)

(3, 1)

### Default Arguments <a class="anchor" id="default_arguments"></a>

Sometimes you will want to set some default values in your functions. This will allow the user to not be required to always pass all arguments to the function. Here is an example.

In [8]:
def exponentiate(a, exp=2):
    '''
    Raises the term a to the power of exp.
    
    Default exp=2.
    '''
    return a ** exp

In [9]:
exponentiate(4, exp=3)

64

In [11]:
exponentiate(4)

16

Above we see that we can give a default value of `2` for the argument `exp`. This means that we are not required to pass the `exp` argument to the function if we are happy with the default value. 

However, if we want to change the default we can do so as either a keyword argument or a positional argument.

### Arbitrary Arguments <a class="anchor" id="arbitrary_arguments"></a>

Sometimes you don't know how many arguments your function will have. In these cases you can add in an `*` in front of your argument. This makes the argument of an arbitrary length.

In [12]:
def append_elements(*items):
    '''This function appends elements to a list and returns it.'''
    full_list = []
    for item in items:
        full_list.append(item)
    return full_list

In [14]:
append_elements(1, 2, *[1,2,3])

[1, 2, 1, 2, 3]

In [15]:
append_elements(1, 2, 3, 4, 'happy', *[1,2,3], *[2.1,2,3])

[1, 2, 3, 4, 'happy', 1, 2, 3, 2.1, 2, 3]

These type of arbitrary arguments generally also known as `*args`. The name isn't important (although you will almost always see it written as `args`), only the number of asterisks. 

There is another type of arbitrary argument that uses a double \*, often called `**kwargs`. These are arbitrary length arguments just like `*args`, but they have keywords added to them.

In [17]:
def func_keyword_arg(**kwargs):
    return kwargs

In [18]:
kwargs_obj = func_keyword_arg(text='Hello World!', int_var=3, list_obj=[1,2,3])

In [19]:
kwargs_obj

{'text': 'Hello World!', 'int_var': 3, 'list_obj': [1, 2, 3]}

In [22]:
kwargs_obj['list_obj']

[1, 2, 3]

In [23]:
def some_arg(a, b, **kwargs):
    if 'exp' in kwargs:
        a = a ** kwargs['exp']
    return a+b

In [25]:
some_arg(2, 2, exp=3)

10

## Decorators <a class="anchor" id="decorators"></a>

A decorator is a Python callable that allows you to modify a function or a class. They are very powerful and often quite an elegant way to make your code work the way you want.

In [26]:
import time

In [27]:
def timer(func):
    '''A decorator that prints how long a function takes to run
    
    Args:
        func (callable): The function being decorated.
        
    Returns:
        callable: The decorated function. 
    '''
    def wrapper(*args, **kwargs):
        # when wrapper is called, get the current time
        t_start = time.time()
        
        # Call the decorated function and store the result
        result = func(*args, **kwargs)
        
        # Get the total time it took to run, and print it. 
        t_total = time.time() - t_start
        print(f'{func.__name__} took {t_total}s.')
        return result
    return wrapper

Inside the decorator function is a wrapper that takes the function being decorated, modifies it in some way, and returns the result. In the above example the `timer` decorator function uses `wrapper` to calculate the called functions start time, record the result, and determine the total time. The `wrapper` function then returns the result.

In [28]:
@timer
def sleep_n_seconds(n):
    time.sleep(n)

In [29]:
sleep_n_seconds(5)

sleep_n_seconds took 5.0049920082092285s.

Here we use the `@timer` wrapper to see how long a function takes. Below you can try it out by passing a CSV path to the function `load_csv`. This decorated function will return a dataframe and also print the amount of time it took to run the function.

In [30]:
@timer
def load_csv(csv_path):
    import pandas as pd
    df = pd.read_csv(csv_path)
    return df

In [31]:
load_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data')

load_csv took 78.01804208755493s.

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [40]:
start_time = time.time()
df = load_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data')
total_time = time.time() - start_time
print("Total time took in seconds: ", total_time)

Total time took in seconds:  22.456663131713867